

body {
    margin: 0;
  }
  
  header {
    background-color:black;
    color: white;
    padding: 2em;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white; /* Add your preferred text color */
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure the header stays above other content */
      
  }
  
  header h1 {
    margin: 0;
  }
  
  nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Center the header */
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 50%;
  }
  